{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "targets": {
            "browsers": [ "Android >= 4" ]
          }
        }
      }
    ]
  ],
  "plugins": []
}
