and_chr 81
and_ff 68
and_qq 1.2
and_uc 12.12
android 81
baidu 7.12
chrome 81
chrome 80
chrome 49
edge 81
edge 80
edge 18
firefox 76
firefox 75
firefox 74
firefox 68
ie 11
ios_saf 13.4
ios_saf 13.3
ios_saf 12.2-12.4
kaios 2.5
op_mini all
op_mob 46
opera 68
opera 67
safari 13.1
safari 13
samsung 11.1
samsung 10.1
